src/main/resources/RepositoryMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="rootType"/>
    <xs:complexType name="driverType">
        <xs:sequence>
            <xs:element type="versionType" name="version" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="osxType">
        <xs:sequence>
            <xs:element type="driverType" name="driver" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="linuxType">
        <xs:sequence>
            <xs:element type="driverType" name="driver" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bitrateType">
        <xs:sequence>
            <xs:element type="xs:string" name="filelocation"/>
            <xs:element type="xs:string" name="hash"/>
            <xs:element type="xs:string" name="hashtype"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="sixtyfourbit" use="optional"/>
        <xs:attribute type="xs:string" name="thirtytwobit" use="optional"/>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element type="windowsType" name="windows"/>
            <xs:element type="linuxType" name="linux"/>
            <xs:element type="osxType" name="osx"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="versionType">
        <xs:sequence>
            <xs:element type="bitrateType" name="bitrate" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="windowsType">
        <xs:sequence>
            <xs:element type="driverType" name="driver" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>